.terraform
*.tfstate
*.tfstate.*
.env.local
node_modules

############################
# Devenv / Nix
############################

.devenv/
.direnv/
.devenv.flake.nix

############################
# Strapi
############################

.strapi
.env
license.txt
exports
*.cache
dist
build
.strapi-updater.json
