---
import Layout from "@layouts/Layout.astro";
import { marked } from "marked";
import type { Home } from "@api/home";

const homeResponse = await fetch(
  `${import.meta.env.CMS_API_URL}/home?populate=*`,
  {
    headers: {
      "Content-Type": "application/json",
      Authorization: `bearer ${import.meta.env.CMS_API_TOKEN}`,
    },
  }
);
const { data: homeData } = await homeResponse.json();
const home: Home = homeData.attributes;
const parsedDescription = marked.parse(home.description ?? "");
---

<Layout title="About Me">
  <div class="border-b-[1px]">
    <h1 class="text-5xl">{home.title}</h1>
    <!-- Introduction about myself -->
    <div
      class="text-xl mt-8 mb-2 flex flex-col gap-y-4"
      set:html={parsedDescription}
    />
    <!-- List of social links -->
    <div class="mt-8 flex flex-row space-x-4 text-md">
      <p>Find me on:</p>
      <a href="https://twitter.com/ivokun" target="_blank"> Twitter</a>
      <a href="https://instagram.com/ivokun" target="_blank"> Instagram</a>
      <a href="https://github.com/ivokun" target="_blank"> GitHub</a>
    </div>
  </div>
</Layout>
